org.perfclipse.test/resources/simpleSchema.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:perfcake:scenario:1.0" xmlns:pc="urn:perfcake:scenario:1.0" version="1.0" targetNamespace="urn:perfcake:scenario:1.0" elementFormDefault="qualified">
   <xsd:element name="property">
      <xsd:complexType>
         <xsd:attribute name="name" type="xsd:string"/>
         <xsd:attribute name="value" type="xsd:string"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="header">
      <xsd:complexType>
         <xsd:attribute name="name" type="xsd:string"/>
         <xsd:attribute name="value" type="xsd:string"/>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="scenario">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="properties" minOccurs="0" maxOccurs="1">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element maxOccurs="unbounded" minOccurs="0" ref="pc:property"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="generator" minOccurs="3" maxOccurs="4">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="run" minOccurs="2" maxOccurs="5">
                        <xsd:complexType>
                           <xsd:attribute name="type" type="xsd:string"/>
                           <xsd:attribute name="value" type="xsd:string"/>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="pc:property"/>
                     </xsd:sequence>
                  </xsd:sequence>
                  <xsd:attribute name="class" type="xsd:string"/>
                  <xsd:attribute name="threads" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="sender">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element maxOccurs="unbounded" minOccurs="0" ref="pc:property"/>
                  </xsd:sequence>
                  <xsd:attribute name="class" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
